# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
/staticfiles
/static/

# If your Django project uses the default credentials, ignore this file.
.env

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.cache

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Editor and IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
